
*.csv
/backend/financetracker/__pycache__
/backend/storage/__pycache__
/backend/uploader/__pycache__
/backend/accounts/__pycache__
/backend/financetracker/__pycache__
/node_modules
.claudeignore
/claude_chats
/.mypy_cache
/__pycache__